/* stylesheet for Sophie's Study Site */
* {    /* clears out browser defaults */
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* start with source for small divices */
body {  /* can change this */
  color: #5D6063;

  /* yellow-orange with gradient */
      background: #F3AAAA; /* Old browsers */
      background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
      background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */




  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1.3;/* yellow-orange with gradient */
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */


  display: flex;
  flex-direction: column;
  align-items: center;
}

.nice-background{
/* yellow-orange with gradient */
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */

/* red gradient  - test */
background: #C655BE; /* Old browsers */
background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */

}

h2{
  font-size: 2em;
}
.btn{
  font-size: 10px;
}
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section {
  background-color: /* #D6E9FE; */ #abe6f5;
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5em;
  min-width: 12em;
  border-radius: 15px;
}

.modal-header, .modal-footer {
  background-color: #22AA88;
  color: white;
}
.modal-body{
  background-color: #CAFACA;
  color: #441144;
}
.menu {
  background-color: #5995DA;
  height: 80px;
}



.study-site-header{
  text-align:  center;
  background-color: #83B8E1;   /* #66D7D8;*/
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 30px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 15px;
}
.id-photo{
  height: 50%;
}
.photo img ,  .id-photo img {
  width: 100%;
  max-height: 100px;
}

/* list of buttons */
.button-list{
  list-style-type: none;
}
/* course list */
.course-list{
  justify-content: flex-start;
}
.course-list li{
  margin-top: 10px;
}
/* Tablet Styles */
@media only screen and (min-width: 426px) {
body , .btn {
    font-size: 16px;
}
  .study-site-header{
    flex-direction: row;
  /*  max-height: 300px;
  *  width: 80%;
    margin: 30px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  */
  }
  .header-text {
    /* justify-content: center;
    align-items: center;
    padding: 15px;  */
    width: 50%;
  }
  .id-photo{
    width: 50%;
  }
  .id-photo img{
    max-height: 240px;
    max-width: 320px;
  }
}     /* media tablet size and larger */

      /* very large media (wide screens) */
@media only screen and (min-width: 1600px) {
  body, .btn {
    font-size: 20px;
  }
  .id-photo img{
    max-height: 720px;
    max-width: 960px;
  }
}     /* very large media  */
